* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

body {
  background-color: black;
}

div {
  display: block;
}

.header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
  background-color: black;
}

.main {
  padding-top: 70px;
  width: 100%;
  margin: auto;
  
}

.navlogo {
  padding-left: 10px;
  height: 50px;
  flex-grow: 1;
  text-align: left;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.hero {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  padding-top: 60px;
  background-color: black;
}

.text {
  width: 100%;
  margin: auto;
  background-color: black;
}

h2 {
  font-size: 30px;
}

.teamontharea {
  width: 1000px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  height: 200px;
  width: 300px;
  

}
